/* animações */

@keyframes up {
  /*nome da animação no keyframes foi colocada (up), pode ser qualquer nome*/
  from {
    /*from de onde ele vai começar*/
    opacity: 0;
    transform: translateY(16px);
    /*ela vai começar de baixo para cima com 16px abaixo*/
  }
  to {
    /*aonde vai parar*/
    opacity: 1;
    transform: translateY(0);
    /*vai terminar na posição (0px), posição normal*/
  }
}

@keyframes right {
  /*animação nomeada de (right) pois o efeito vem da esquerda
  e termina na direita */
  from {
    transform: translateX(-100%);
    /*começa em (-100%) */
  }
  to {
    transform: translateX(0)
    /*termina em (0)*/;
  }
}
.animate-up {
  /*class nomeada de (animate-up)*/
  animation-name: up;
  /*nome da animação é setada o nome do @keyframes "up"*/
  animation-duration: 300ms;
  animation-fill-mode: backwards;
  /*esse comando vai parar a animação e manter aplicado o efeito*/
}

.animate-right {
  /*class nomeada de (animate-right)*/
  animation-name:right;
  animation-duration: 300ms;
}

/*************************************************************/
